
/* .form-container{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: whitesmoke;
    width: 450px;
    margin: 10px;
    border: 3px solid #50577A; 
    width: 450px; 
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap; 

} */

.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-flow: column;
    background-color: whitesmoke;
    text-align: center;
    width: 435px;
    margin: 150px;
    border: 3px solid #797b84; 
} 
